<div class="requirement-container">
  <a matButton [routerLink]="['/products', productId()]"> <mat-icon aria-hidden="true">arrow_back</mat-icon>Go back</a>

  @if (!!requirement()) {
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ requirement()!.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if (requirement()!.description) {
          <p>{{ requirement()!.description }}</p>
        }

        @if (!isUndefinedOrEmpty(requirement()?.requirementItems)) {
          <mat-tab-group [selectedIndex]="selectedTabIndex()" (selectedIndexChange)="setSelectedTabIndex($event)">
            @for (tab of requirementTabs(); track tab.type) {
              @if (!(tab.hide && tab.hide(tab.items))) {
                <mat-tab [label]="tab.name">
                  <ng-template matTabContent>
                    <p class="tab-subtitle">{{ tab.description }}</p>

                    @for (item of tab.items; track item.id) {
                      <div class="requirement-container">
                        <crams-requirement-item [requirementItem]="item"></crams-requirement-item>
                      </div>
                    }
                  </ng-template>
                </mat-tab>
              }
            }
          </mat-tab-group>
        }
      </mat-card-content>
    </mat-card>
  } @else if (isLoading()) {
    <p>Loading..</p>
  } @else {
    <p>Requirement could not be loaded.</p>
  }
</div>
